[Unit]
Description=Update python2 package list

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "python2 -m pipdeptree --warn silence | grep -E '^\\w+' | cut -d '=' -f 1 | sort > %h/.pkg-python2-%H"

[Install]
WantedBy=default.target
