[Unit]
Description=Update python3 package list every hour

[Timer]
OnActiveSec=5sec
OnUnitActiveSec=1hour
Persistent=true
Unit=pkg-python3.service

[Install]
WantedBy=timers.target
