[Unit]
Description=Update system package list every hour

[Timer]
OnActiveSec=5sec
OnUnitActiveSec=1hour
Persistent=true
Unit=pkg-system.service

[Install]
WantedBy=timers.target
