# global ignores
.clj-kondo/
.lsp/
.tags

!/.gitignore

/.3T/
/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.boto
/.cache/
/.cargo/
/.ccache/
/.clojure/
/.clojure_history
/.config/.gsd-keyboard.settings-ported
/.config/.nvim/plugin/packer_compiled.lua
/.config/3T/
/.config/Claude
/.config/GIMP/
/.config/GalaxyBudsClient/
/.config/Keybase/
/.config/MongoDB Compass/
/.config/QtProject.conf
/.config/Slack/
/.config/Unknown Organization/
/.config/autorandr/default
/.config/autorandr/hdmi/
/.config/autorandr/laptop/
/.config/autorandr/usb-c/
/.config/autostart/
/.config/cef_user_data/
/.config/chromium
/.config/chromium-back-ovfs/
/.config/chromium-backup/
/.config/coc/
/.config/configstore/
/.config/dconf/
/.config/discord/
/.config/enchant/
/.config/evolution/
/.config/gcloud/
/.config/gedit/
/.config/gh-copilot/
/.config/gh/
/.config/github-copilot/
/.config/gnome-control-center/
/.config/gnome-initial-setup-done
/.config/goa-1.0/
/.config/google-chrome
/.config/google-chrome-back-ovfs/
/.config/google-chrome-backup-crashrecovery-*/
/.config/google-chrome-backup/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/gtk-4.0/
/.config/ibus/
/.config/k9s/config.yml
/.config/keybase/
/.config/lazygit/
/.config/lnav/
/.config/menus/
/.config/mimeapps.list
/.config/monitors.xml
/.config/monitors.xml~
/.config/nautilus/
/.config/neofetch/
/.config/nvim/
/.config/nvim/.netrwhist
/.config/nvim/plugin
/.config/nvim/queries/
/.config/pavucontrol.ini
/.config/psd/.psd.conf
/.config/pulse/
/.config/pulse/cookie
/.config/pypoetry/
/.config/solaar/
/.config/sourcery/
/.config/spotify/
/.config/systemd/
/.config/systemd/user/default.target.wants
/.config/systemd/user/timers.target.wants/
/.config/teamviewer/
/.config/tlpui/
/.config/transmission/
/.config/tree-sitter/
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/variety/
/.config/vlc/
/.config/xfce4/
/.config/yarn/
/.config/yelp/
/.config/zoom.conf
/.config/zoomus.conf
/.dbshell
/.dbus/
/.deps.clj/
/.docker/.buildNodeID
/.docker/config.json
/.dotnet/
/.electrum/
/.enhancd/
/.fehbg
/.fontconfig/
/.fonts/
/.gitlibs/
/.gnome/
/.gnupg/
/.gsutil/
/.histfile
/.icons/
/.ipython/
/.java/
/.k9s/config.yml
/.kube/
/.launchpadlib/
/.lein/
/.lesshst
/.lnav/
/.local/
/.m2/
/.mongodb/
/.mongorc.js
/.mozilla/
/.net/
/.node/
/.node_repl_history
/.npm/
/.nvidia-settings-rc
/.pip/pip.conf
/.pki/
/.profile
/.psql_history
/.pyenv/
/.pylint.d/
/.python_history
/.scm_breeze
/.scmbrc
/.ssh/
/.subversion/
/.sudo_as_admin_successful
/.swt/
/.themes/
/.tmux/
/.var/
/.viminf*.tmp
/.viminfo
/.virtualenvs/
/.vscode-oss/
/.vscode/
/.wget-hsts
/.wpa_cli_history
/.xsession-errors
/.xsession-errors.old
/.yarn/
/.yarnrc
/.zcompdump
/.zhistory
/.zinit/
/.zoom/
/.zsh-secrets
/.zsh_history
/Books/
/Desktop
/Documents/
/Downloads
/Pictures/
/Videos/
/documents
/go
/snap/
/studio3t/
/tags
/tags.lock
/tags.temp
