# Mac OS X Finder control file.
.DS_Store

# Vim swap files.
.swp

# Vim backup, undo folders.
/bundle/
/undo/

# Stub file for undo/ , so only the dir will be committed (but not the files inside).
!/undo/.empty

# Apple TimeMachine
.com.apple.timemachine.supported

