[submodule "vim"]
    path = .vim
    url = git@github.com:oryband/dotvim.git
    ignore = all
[submodule "git-templates/hooks"]
    path = usr/share/git-core/templates/hooks
    url = git@gist.github.com:da880c74b6b8e7433adf.git
[submodule ".zplug"]
    path = .zplug
    url = https://github.com/b4b4r07/zplug
    ignore = all
