[MESSAGES CONTROL]

disable=
    redefined-outer-name,
    too-many-arguments,
    line-too-long,
    missing-docstring,
    too-many-locals

[FORMAT]
good-names=a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z

[BASIC]
variable-rgx=[a-z_][a-z0-9_]{0,62}$

# vim: ft=toml
