*.dpi: 240

URxvt*termName:             rxvt-unicode-256color

URxvt*geometry:             80x20

URxvt*loginShell:           true

URxvt*scrollBar:            false
URxvt*scrollTtyOutput:      false
URxvt*scrollTtyKeypress:    true
URxvt*scrollWithBuffer:     true

Xft*antialias:              true
Xft*hinting:                true
Xft*hintstyle:              hintfull

URxvt*font:                 xft:SauceCodePro Nerd Font Mono:size=13:Light
URxvt*boldFont:             xft:SauceCodePro Nerd Font Mono:size=13:Regular
URxvt*italicFont:           xft:SauceCodePro Nerd Font Mono:size=13:Bold
URxvt*boldItalicFont:       xft:SauceCodePro Nerd Font Mono:size=13:Bold:Italic

URxvt*intensityStyles:      false

URxvt*pointerBlank:         true

URxvt.perl-ext-common:      font-size,selection-to-clipboard

URxvt.keysym.C-equal:       font-size:increase
URxvt.keysym.C-0x2d:        font-size:decrease
! URxvt.keysym.C-S-Up:        font-size:incglobal
! URxvt.keysym.C-S-Down:      font-size:decglobal

! URxvt.perl-ext: bidi
! URxvt.bidi.enabled: 0

rofi.width: 50
rofi.lines: 5
rofi.font: SauceCodePro Nerd Font Mono Light 18
rofi.bw: 3
rofi.loc: 0
rofi.fixed-num-lines: true
rofi.terminal: x-terminal-emulator

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

rofi.bc: base09
rofi.color-enabled: true
rofi.color-window:  base01, base01, base00
rofi.color-normal:  base01, base05, base01, base02, base07
rofi.color-active:  base01, base0D, base01, base01, base0D
rofi.color-urgent:  base01, base08, base01, base01, base08
rofi.separator-style: solid


*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
