{:lint-as {sea-cucumber.core/defn-inst clojure.core/defn}
 :linters {:unresolved-symbol {:level   :error
                               :exclude [fact
                                         facts
                                         =>
                                         (midje.sweet/fact)
                                         (midje.sweet/facts)
                                         (midje.parsing.arrow-symbols/=>)]}
           :unused-binding {:exclude-destructured-as true}
           :refer-all      {:exclude [clojure.test
                                      midje.sweet]}}}
